= render 'shared/errors', obj: @eqp_object_class
= form_for @eqp_object_class, html: { class: "form-horizontal", role: "form" } do |f|
  .form-group
    = f.label :code,"Class"
    - if @eqp_object_class.persisted?
      = f.text_field :code, class: 'form-control', disabled: true
    - else
      = f.text_field :code, class: 'form-control'
  .form-group
    = f.label :description, "Description"
    = f.text_field :description, class: 'form-control'
  .form-group.form-check
    = f.check_box :not_used, class: 'form-check-input'
    = f.label :not_used, "Out of Service", class: 'form-check-label'
  = render 'shared/form_navigation'