= render 'shared/errors', obj: @event_eqp_group
= form_for @event_eqp_group, html: { class: "form-horizontal", role: "form" } do |f|
  .form-group
    = f.label :code
    - if @event_eqp_group.persisted?
      = f.text_field :code, class: 'form-control', readonly: true
    - else
      = f.text_field :code, class: 'form-control', readonly: true
  .form-group
    = f.label :description
    = f.text_field :description, class: 'form-control'
  .form-group.form-check
    = f.check_box :not_used, class: 'form-check-input'
    = f.label :not_used, "Out of Service", class: 'form-check-label'
  = render 'shared/form_navigation'